@import url('./place/place.css');

.places {   
    width: 100%; 
    max-width: 984px;
    padding-bottom: 30px;
    margin: auto;
}

@media screen and (max-width: 425px) {
    .places {       
        padding-bottom: 16px;         
    }

}