.intro__text {
    padding: 0;
    list-style-type: none;  
    margin: 24px 0 0;    
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

 @media screen and (max-width: 600px) {
    .intro__text {
        margin: 32px 0 0;
    }
}

@media screen and (max-width: 375px) {
    .intro__text {
        font-size: 12px;
        line-height: 19px;
    }
}